ul { list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline
}

h1, h2, h3 {
    text-align: center;
}


    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: black;
        text-align: center;
      }
